<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/public/css/hw3_stylesheet.css">
    <script src="/index.js" defer></script>
</head>
<body>
    <header> 
        <h1>Trivia</h1>
    </header>
   
    <nav>
        <h2>Click Below To Travel to Your Desired Page</h2>
        <a href="/index.html"> Home </a> &nbsp;
        <a href="/html/my_resume.html"> My Resume</a> &nbsp;
        <a href="/html/my_fun_facts.html"> Some Fun Facts About Me</a> &nbsp;
        <a href="/html/blog.html"> Blog</a>
    </nav>


    <div id="title">
        <h4>Question 1: What state has the capital of Juneau</h4>
        <ul>
            <li class="alternative" id="q1o1">Alaska</li>
            <li class="alternative" id="q1o2">Michigan</li>
            <li class="alternative" id="q1o3">North Dakota</li>
            <li class="alternative" id="q1o4">Maine</li>
        </ul>
        <form action="/trivia" method="POST">
           <input type="text" name="answer1" placeholder="answer1"> 
           <input type="text" name="answer2" placeholder="answer2"> 
            </form>


            <h4>Question 2: What state has the capital of Des Moines</h4>
        <ul>
            <li class="alternative" id="q2o1">Washington</li>
            <li class="alternative" id="q2o2">Nebraska</li>
            <li class="alternative" id="q2o3">Idaho</li>
            <li class="alternative" id="q2o4">Iowa</li>
        </ul>

    
  
    </div>
   
    <div>
        
    </div>
    

</body>
</html>