<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/public/css/hw3_stylesheet.css">
    <script src="/index.js" defer></script>
</head>
<body>
    <header> 
        <h1>Trivia</h1>
    </header>
   
    <nav>
        <h2>Click Below To Travel to Your Desired Page</h2>
        <a href="/"> Home </a> &nbsp;
        <a href="/resume"> My Resume</a> &nbsp;
        <a href="/funfacts"> Some Fun Facts About Me</a>
        <a href="/trivia"> Trivia</a>

    </nav>


    <div id="title">
        
        <form action="/" method="POST">
            <h4>Question 1: What state has the capital of Juneau</h4>
        <ol>
            <li class="alternative" id="q1o1">Alaska</li>
            <li class="alternative" id="q1o2">Michigan</li>
            <li class="alternative" id="q1o3">North Dakota</li>
            <li class="alternative" id="q1o4">Maine</li>
        </ol>
           <input type="text" name="answer1" placeholder="Answer a, b, c, or d"> 


           <h4>Question 2: What state has the capital of Des Moines</h4>
           <ol>
               <li class="alternative" id="q2o1">Washington</li>
               <li class="alternative" id="q2o2">Nebraska</li>
               <li class="alternative" id="q2o3">Idaho</li>
               <li class="alternative" id="q2o4">Iowa</li>
           </ol>
           <input type="text" name="answer2" placeholder="Answer a, b, c, or d"> 


           <h4>Question 3: What state has the capital of Baton Rouge</h4>
           <ol>
               <li class="alternative" id="q2o1">Mississippi</li>
               <li class="alternative" id="q2o2">New Mexico</li>
               <li class="alternative" id="q2o3">Louisiana</li>
               <li class="alternative" id="q2o4">Florida</li>
           </ol>
           <input type="text" name="answer3" placeholder="Answer a, b, c, or d"> 

           <h4>Question 4: What state has the capital of Austin</h4>
           <ol>
               <li class="alternative" id="q2o1">Utah</li>
               <li class="alternative" id="q2o2">Colorado</li>
               <li class="alternative" id="q2o3">Texas</li>
               <li class="alternative" id="q2o4">Maine</li>
           </ol>
           <input type="text" name="answer4" placeholder="Answer a, b, c, or d">

           <h4>Question 5: What state has the capital of Augusta</h4>
           <ol>
               <li class="alternative" id="q2o1">Connecticut</li>
               <li class="alternative" id="q2o2">Maine</li>
               <li class="alternative" id="q2o3">Maryland</li>
               <li class="alternative" id="q2o4">New Jersey</li>
           </ol>
           <input type="text" name="answer5" placeholder="Answer a, b, c, or d">

           <h4>Question 6: What state has the capital of Olympia</h4>
           <ol>
               <li class="alternative" id="q2o1">Oregon</li>
               <li class="alternative" id="q2o2">Montana</li>
               <li class="alternative" id="q2o3">Illinois</li>
               <li class="alternative" id="q2o4">Washington</li>
           </ol>
           <input type="text" name="answer6" placeholder="Answer a, b, c, or d">

           <br><br><br><br><br>

           <input class="subBtn" type="submit" name="submit" value="submit">

          
            </form>

    </div>
   
    <div>
        
    </div>
    

</body>
</html>