<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/public/css/hw3_stylesheet.css">
    <script src="/js/trivia.js" defer></script>
</head>
<body>
    <header> 
        <h1>Trivia</h1>
    </header>
   
    <nav>
        <h2>Click Below To Travel to Your Desired Page</h2>
        <a href="/index.html"> Home </a> &nbsp;
        <a href="/html/my_resume.html"> My Resume</a> &nbsp;
        <a href="/html/my_fun_facts.html"> Some Fun Facts About Me</a> &nbsp;
        <a href="/html/blog.html"> Blog</a>
    </nav>

    <div id="title">
        <ul>
            <li class="alternative">Alaska</li>
            <li class="alternative">Alaska</li>
            <li class="alternative">Alaska</li>
            <li class="alternative">Alaska</li>
        </ul>
    </div>
   
</body>
</html>